.jumbotron__container{
    background-image: url('../../assets/foto.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 80%;
}
.btn{
    background-color: $secundary;
    color: $primary;
    transition: opacity 0.3s ease;
    &:hover{
        color: $primary;
        opacity: 0.8;
    }
}